/* General Styles */
@font-face {
  font-family: 'Hadley'; 
  src: url('fonts/Hadley.otf') format('opentype'); 
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Hadley', sans-serif; 
  background-color: #FFFAF7;
  color: #790604;
  height: 100%;
}

header,
footer {
  text-align: center;
}

header img.logo {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
  width: 100%;
  max-width: 800px;
  height: 100%;
  overflow: hidden;
}

#terms-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.terms-heading {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 800px;
}

ul li {
  margin-bottom: 15px;
  text-align: left;
}

ul a {
  color: #270505;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}


footer {
  text-align: center;
  padding: 20px;
}


footer svg {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  fill: #790604;
  transition: transform 0.2s ease, fill 0.2s ease;
}

footer svg:hover {
  transform: scale(1.2);
}

@media (max-width: 1024px) {
  .form-container {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .form-container {
    padding: 0 16px;
  }
}

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;

  background: linear-gradient(45deg, transparent 5%, #790604 5%);
  border: 0;
  color: #FFFAF7;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #F28500;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #F28500 3%, #F28500 5%, #790604 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #F28500;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.button-49,
.button-49:after {
  width: 130px;
  height: 50px;
  line-height: 40px;
}

.nav-button {
  margin-bottom: 20px;
  margin-top: 20px
}

.horizontal-line {
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid rgba(55, 53, 47, 0.09);
  margin-bottom: 10px;
}

.footer-p {
  margin-bottom: 10px;
}


.home-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.fullscreen-img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.home-container .row>div>div {
  margin: 0 20px;
}

.button-49 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.home-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFAF7;
}

.sticky + .page-content {
  padding-top: 370px;
}

.sticky .nav-container{
  display: flex;
  justify-content: space-between;
}
.sticky .logo{
  width: auto;
  height: 70px;
  margin: auto 40px;
}

.sticky .button-49{
  width: 90px;
  height: 45px;
  line-height: 35px;
  font-size: 16px;
  margin-top: 10px;
}

.sticky .nav-button{
  margin-right: 20px;
}

.request-button{
  display: flex;
  background-color: #790604;
  color: #FFFAF7;
  align-items: center;
  justify-content: center;
}

.socials svg{
  height: 30px;
  margin: 2px 6px;
  fill: #790604;
  transition: transform 0.2s ease, fill 0.2s ease;
}

.socials svg:hover {
  transform: scale(1.2);
}
.socials{
  position: absolute;
  right: 0;
}
.burger-menu-container{
  display:none;
}
.burger-menu{
  padding-top: 20px;
}

.burger-menu-container svg {
  fill: #790604;
}

@media screen and (max-width: 670px) {

  .sticky + .page-content {
    padding-top: 170px;
  }

  .nav-button{
    display: none;
  }
  
 .nav-container{
    display: flex;
  }
 .logo{
    width: auto;
    height: 70px;
    margin: auto 40px;
  }
  
 .button-49{
    width: 90px;
    height: 45px;
    line-height: 35px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .nav-button{
    margin-right: 20px;
  }
  

  .burger-menu-container svg{
    width: auto;
    height: 35px;
    }

    .burger-menu-container {
      display: block;
      position: relative;
      margin: auto 40px auto auto;;
    }

    .burger-menu {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 1000;
    }

    .burger-menu i {
        color: #333;
    }

    .burger-menu-content {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 150px;
        background: #ffffff;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-in-out;
        z-index: 999;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .burger-menu-content.active {
        right: 0;
    }

    .close-menu {
        background: none;
        border: none;
        font-size: 24px;
        align-self: flex-end;
        cursor: pointer;
    }

    .close-menu i {
        color: #333;
    }

    .burger-menu-content ul {
        list-style: none;
        padding: 0;
    }

    .burger-menu-content ul li {
        margin: 10px 0;
    }

    .burger-menu-content ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #790604;
        transition: color 0.3s ease;
    }

    .burger-menu-content ul li a:hover {
        color: #F28500;
    }
}

@media screen and (max-width: 370px) {
  .sticky .logo{
      margin: auto auto;
  }
  .logo{
    margin: auto auto;
}
}

.blur-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 999;
}

.blur-overlay.active {
  display: block;
}

body.menu-active {
  overflow: hidden; 
  pointer-events: none; 
}

body.menu-active #burger-menu-content,
body.menu-active #blur-overlay,
body.menu-active #fullscreen-modal {
  pointer-events: auto; 
}